__pycache__/
*.py[cod]

.venv/
venv/
env/

.idea/
.vscode/

rl_tensorboard/
dist_for_friends/

*.exe
*.zip
!rl_checkpoints/latest.zip

rl_checkpoints/model_step*.zip
rl_checkpoints/*.tmp

Thumbs.db
Desktop.ini
